 body{
  background: linear-gradient(45deg, #a8edea, #fed6e3);
 }
 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 .grid{
  display: grid;
  grid-template-rows: 750px;
 }
 .regblock{
  background-color: white;
  width: 500px;
  height: 650px;
  margin: 0 auto;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);
  margin-top: 60px;
 }
 .regblock p{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 50px;
 }
 .inBox{
    background-color: ;
    width: 350px;
    height: 450px;
    margin: 0 auto;
    margin-top: 80px;

 }
  input[type=text], input[type=password] {
  width: 320px;
  padding: 15px;
  margin: 15px 0 22px 0;
  display: inline-block;
  border-color: lightgray;
  background: ;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  transition: .3s linear;
}
input[type=text]:hover, input[type=password]:hover {
  background-color: lightblue;
  outline: none;
  transition: .3s linear;
}

@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
  position: relative;
  
}
.menu-main {
  list-style: none;
  margin-top: 0;
  padding: 0;
  text-transform: uppercase;
   text-align: center;
   font-weight: bold;
   font-style: italic;
   font-size: 100px;
   background-color: black;
   

}
.menu-main:after {
  content: "";
  display: table;
  clear: both;
}
.left-item {float: left;}
.right-item {float: right;}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
  transition: .3s linear;
}
.menu-main a:hover {
  color: black;
  background: rgba(255,255,255,.9);
}
@media (max-width: 830px) {
.menu-main {
  padding-top: 90px;
  text-align: center;
}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

.menu-main li {
  float: none;
  display: inline-block;
}
.menu-main a {
  line-height: normal;
  padding: 20px 15px;
  font-size: 16px;
}
}
@media (max-width: 630px) {
.menu-main li {display: block;}
}
.header{
  width: 100%;
  margin: 0 auto ;
  background-color: black;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  height: 80px;
  margin-top: 13px;
  
}
.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  margin-left: 25px;
 
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}



button:hover::before, button:focus::before {
  opacity: 1;
}


button:hover::after, button:focus::after {
  animation: none;
  display: none;
}
.txt{
  height: 50px;
  width: 350px;
  
  margin-top: 100px;
  text-align: center;
}
.txt1{
  font-family: 'Poppins', sans-serif;


}
.txt2{
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  list-style: none;
  color: black;


}
.txt2:hover{
  color: blueviolet;
  transition: .3s;
}
.forgot{
  margin: 0 auto;
  width: 250px;
  height: 30px;
  
  text-align: center;
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
}
.fg2{
  color:black ;
}.fg2:hover{
  color: blueviolet;
  transition: .3s;
}